.card {
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px #00000012;
  box-shadow: 0px 20px 25px -5px #0000001a;
  background: #ffffff;
  z-index: 0;
}
.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pink,
.red,
.green,
.yellow,
.purple,
.blue {
  position: absolute;
  opacity: 0.75;
  z-index: -1;
}
.pink {
  width: 218px;
  height: 218px;
  top: 208px;
  border-radius: 50px;
  background: #be185d;
}
.red {
  width: 90px;
  height: 90px;
  top: -20px;
  left: -21px;
  border-radius: 30px;
  background: #b45309;
}
.blue {
  width: 59px;
  height: 60px;
  top: -137px;
  border-radius: 50px;
  background: #0369a1;
  z-index: 0;
}
.yellow {
  width: 666.28px;
  height: 217.93px;
  top: 62.950000000000045px;
  rotate: 127deg;
  background: #fde68a;
}
.purple {
  background: #a21caf;
  width: 74px;
  height: 74px;
  border-radius: 30px;
}
.green {
  width: 85px;
  height: 86px;
  border-radius: 50px;
  background: #15803d;
  z-index: 1;
  left: 118px;
  top: 291px;
}
