.window {
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
  border: 5px solid #ffffff;
  background: #ffffff;
  height: 350px;
  border-radius: 20px;
  border: 5px;
}
.circleYellow,
.circleGreen,
.circleRed {
  width: 8.33px;
  height: 8.33px;
  border-radius: 50%;
}
.circleGreen {
  background: #00c48c;
}
.circleYellow {
  background: #ffb946;
}
.circleRed {
  background: #ff5c5c;
}
.video {
  padding: 5px;
  border-radius: 20px;
  width: 520px;
}
.video img {
  width: 520px;
  height: 299px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
}
.playBtn {
  position: absolute;
  bottom: 50%;
  left: 115px;
  transform: translate(50%, 50%);
}
