@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(#fffbeb 100%, #ffffff 100%);
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1024px) {
  body {
    background-color: #ffffff;
    background-image: none;
  }
}
